body{
  background-image:url(bckg.jpeg);
  background-repeat:none;
  background-size:cover;
}
#navigation{
  margin-left:24vw;
  margin-top:2vw;
  background-image:url(greenbrick.jpeg);
  border: 0.3vw solid black;
  border-radius:2vw;
  height:4vw;
  width:53vw;
}
#header{
  background-image:url(bricky.png);
  height:90px;
  width:98vw;
  border:3px solid brown;
  border-radius:25px;
}
.navbar{
  list-style-type: none;
  float: left;
  margin-right:0.476vw;
  text-align: center;
  font-family:Helvetica;
}
a{
  font-family:Helvetica;
  text-decoration:none;
  border:3px solid black;
	width:23.8vw;
  padding:10px;
  color: wheat;
  border-radius:15px;
	background-color:blue;
}
marquee{
  color:white;
  font-family:Helvetica;
  font-size:45;
}
a:hover{
  font-family:Helvetica;
  text-decoration:none;
  border:3px solid black;
	width:23.8vw;
  padding:10px;
  color: blue;
  border-radius:15px;
	background-color:wheat;
}

#quake{
  color:white;
  font-size:45;
  font-family:Helvetica;
  background-image:url(bricky.png);
  height:450px;
  width:47vw;
  border:3px solid brown;
  border-radius:25px;
  padding:10px;
  float:left;
}

h2{
  text-align:center;
}

#flood{
  color:white;
  font-size:45;
  font-family:Helvetica;
  background-image:url(bricky.png);
  height:450px;
  width:47vw;
  border:3px solid brown;
  border-radius:25px;
  padding:10px;
  float:right;
}

#tsunami{
  color:white;
  font-size:45;
  font-family:Helvetica;
  background-image:url(bricky.png);
  height:450px;
  width:47vw;
  border:3px solid brown;
  border-radius:25px;
  padding:10px;
  margin-top:10px;
  float:right;
}

#cyclone{
  color:white;
  font-size:45;
  font-family:Helvetica;
  background-image:url(bricky.png);
  height:450px;
  width:47vw;
  border:3px solid brown;
  border-radius:25px;
  padding:10px;
  margin-top:10px;
  float:left;
}

#drought{
  color:white;
  font-size:45;
  font-family:Helvetica;
  background-image:url(bricky.png);
  height:450px;
  width:47vw;
  border:3px solid brown;
  border-radius:25px;
  padding:10px;
  margin-top:10px;
  float:left;
  margin-left:325px;
}